# App
APP_NAME=go-cqrs-scaffolder-api
APP_VERSION=1.0.0
APP_SCOPE=local
APP_COMPONENT=read

# HTTP settings
HTTP_PORT=8080

# Logger
LOG_LEVEL=debug
LOG_FORMAT=text

# Metrics
METRICS_ENABLED=false

# Swagger
SWAGGER_ENABLED=false

# Tracing
TRACING_ENABLED=false

# JWT
JWT_SECRET=nil
JWT_TOKEN_EXPIRY=24h